/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.app {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1500px;
}
/*Header*/
header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 32px;
}

header h1 {
  font-family: Permanent Marker, cursive;
  font-style: oblique;
  font-weight: 800;
  margin: 0;
  color: deeppink;
  font-size: 3rem;
  line-height: 1;
}

/*NavBar*/
.navlink {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  margin: 8px;
  padding: 8px;
}

.link {
  display: inline;
  width: 80px;
  padding: 10px 20px 10px 15px;
  margin: 40px 6px 6px;
  text-decoration: none;
  border-radius: 8px;
  border: 1.5px solid indigo;
}

.active {
  display: inline;
  width: 80px;
  padding: 10px 20px 10px 15px;
  margin: 40px 6px 6px;
  text-decoration: none;
  border-radius: 8px;
  border: 1.5px solid indigo;
}

.logout-btn {
  width: fit-content;
  font-size: 16px;
  padding: 17px 15px 9px 15px;
  margin: 10px 3px 5px;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  background: indigo;
}

.main {
  max-width: 1000px;
  margin-top: 100px;
  margin: 0 auto;
  padding: 32px 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: 200px 1fr;
}

/*Show Cards*/
.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 22rem;
  display: inline-grid;
  margin: 2rem 2rem;
  box-shadow: 3px 4px rgb(224, 183, 252);
}
.card h2 {
  margin-top: 1px;
  margin-bottom: 6px;
}

.show-avatar {
  justify-self: center;
  height: 15rem;
  width: 70%;
}

.card p {
  margin-bottom: 10px;
}

.show-button {
  position: relative;
  background-color: indigo;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  margin-top: 0.1px;
}

.show-button:hover {
  background-color: whitesmoke;
  border: rgb(169, 109, 211) so
  lid 1px;
  color:rgb(169, 109, 211);
}

/*Each Show*/
.each-show {
  display: flex;
  gap: 16px;
  max-width: 1000px;
  margin-top: 80px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  box-shadow: 5px 8px #b2b2b2;
  border: grey solid 1px;
}

.each-show .poster {
  flex: 0 0 350px;
}

.each-show .poster img {
  width: 100%;
}

.showdetail {
  flex: 1 1 250px;
}

.showdetail  h2 {
  margin-top: 3;
  margin-bottom: 12px;
}

.showdetail  p {
  margin: 8px 0;
  line-height: 1.4;
}

/*Review part*/
/*Review Form*/
.review-form {
  max-width: 1000px;
  margin-top: 40px;
  margin-inline: auto;
}

.review-form h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.review-form input {
  margin: 0.15rem ;
  max-width: 100%;
  width: 45%;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 1px 2px #b2b2b2;
  border-radius: 3px;
  border: 1px solid;
}

.review-form textarea {
  margin: 0.15rem ;
  max-width: 100%;
  width: 45%;
  font-size: 1rem;
  height: 120px;
  line-height: 1.5;
  box-shadow: 1px 2px #b2b2b2;
  border-radius: 3px;
  border: 1px solid;
}

.review-form label {
  margin: 0.20rem ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.15rem;
  font-style: bold;
  size: 18;
}

.review-form button {
  margin: 0.5rem ;
  width: 15%;
  background-color: indigo;
  border: none;
  border-radius: 5px;
  height: 2rem;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

/*Audience Reviews*/
#audience-reviews{
  max-width: 1000px;
  margin-top: 40px;
  margin-inline: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.show-review {
  max-width: 1000px;
  margin-top: 40px;
  margin-inline: auto;
}

.each-review {
  max-width: 1000px;
  margin-top: 40px;
  width: 60%;
  margin-bottom: 10px;
  flex-wrap: wrap;
  box-shadow: 2px 4px #b2b2b2;
  border: grey solid 1px;
}

.each-review h3 {
  margin: 7px auto;
  margin-left: 10px;
}

.each-review p {
  margin: 10px auto;
  margin-left: 10px;
}

.btn {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  padding: 2px;
  background-color: indigo;
  border: none;
  border-radius: 5px;
  height: 1.5rem;
  color: whitesmoke;
  font-size: 14px;
  width: 15%;
}

/*Signup-Login form*/
.signup-login-form {
  margin-top: 200px;
  margin-inline: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 1rem 1rem;
}

.signup-login-form h1 {
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.signup-login-form label {
  font-size: 1.15rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  size: 20;
  color: rgb(0, 0, 0);
}

.signup-login-form input {
  margin: 0.5rem ;
  max-width: 100%;
  width: 90%;
  font-size: 1rem;
  line-height: 1.5;
}

.signup-login-form button  {
  margin: 0.5rem ;
  width: 30%;
  background-color: indigo;
  border: none;
  border-radius: 5px;
  height: 2rem;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
} 

.signup-login-form p {
  font-size: 1.05rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5rem ;
  color: rgb(0, 0, 0)
} 

/*Error Messages*/
.error {
  color: red;
  background-color: mistyrose;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px;
  width: 90%;
  gap: 8px;
  margin: 5;
}
.error span {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: bold;
  display: grid;
  place-content: center;
}
.error-review {
  color: red;
  background-color: mistyrose;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px;
  width: 45%;
  gap: 8px;
  margin: 5;
}
.error-review span {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: bold;
  display: grid;
  place-content: center;
}
